<mat-toolbar>
  <span class="titulo-logo">MR</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/cadastro">Cadastro de Produtos</button>
  <button mat-button routerLink="/precificacao">Precificação de Produtos</button>
</mat-toolbar>
<div class="home-content">
  <h1>
    <span>Bem-vindo</span><br />
    <span>ao site de</span><br />
    <span>cadastro</span> e <span>precificação</span> dos produtos
  </h1>
</div>
<footer class="footer">
  <p>© {{currentYear}} Magazine Rufino.</p>
</footer>
